body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
  }
  
  header {
    background-color: blue;
    color: gold;
    padding: 20px;
    text-align: center;
  }
  #{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}

.main{
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    float: right;
    display: flex;
    margin: 10px 15px;
    align-items: center;
    padding: 15px o;
}

.navbar ul li{
    text-decoration: none;
    margin: 0 15px;
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: green;
    font-weight: bold;
    transition: .4s ease;

}
.navbar ul li a:hover{
    color: rgb(230, 107, 59);
    background-color: coral;
}

  section {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: white;
    position: relative;
  }
  